<p style="font-size: 13px; color: #49595f; margin: 15px 0 15px 0; font-family: Arial, sans-serif;">
	Dear &lt;<%= @school_principle%>&gt;,
</p>
<p style="font-size: 13px; color: #49595f; margin: 15px 0 15px 0; font-family: Arial, sans-serif;">
	Thank you for your interested in leasing free LMS for your school/institution from the gotoClassroom with unlimited lease terms. It's completely free and no string attached, what you see at <a href="http://www.gotoclassroom.org">www.gotoclassroom.org</a> is exactly what you will get for free of charge.
</p>
<p style="font-size: 13px; color: #49595f; margin: 15px 0 15px 0; font-family: Arial, sans-serif;">
	This email is for your confirmation that we have received your order, and it will take us about 2 business days to verify your school/institution before we send you LMS source code and Server deployment instructions. While we're waiting for the verification, please prepare the following;
</p>
<p style="font-size: 13px; color: #49595f; margin: 15px 0 15px 0; font-family: Arial, sans-serif;">
	1) Get your own Servers and have them ready for deployment.   <br/>
	2) Create your Github account and send us your public SSH key. Once you have the public SSH key ready then send it to <a href="mailto:info@gotoclassroom.com">info@gotoclassroom.com.</a> <br/>
	3) Have your website domain/subdomain ready.
</p>
<p style="font-size: 13px; color: #49595f; margin: 15px 0 15px 0; font-family: Arial, sans-serif;">
	If you have any other concerns and would like us to listen then please feel free to send us your concern at <a href="mailto:info@gotoclassroom.com">info@gotoclassroom.com.</a>
</p>
<p style="font-size: 13px; color: #49595f; margin: 15px 0 15px 0; font-family: Arial, sans-serif;">
	Thank you once again for your interested in using the gotoClassroom's LMS.
</p>
<br/>
<p style="font-size: 13px; color: #49595f; margin: 0 0 0 10px; font-family: Arial, sans-serif;">Sincerely, </p>