<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="description" content="The Page Description">
	<style type="text/css">@-ms-viewport{width: device-width;}</style>
	<title>gotoClassroom - Blog List Style</title>
	<link rel="stylesheet" href="homepage/css/layers.min.css" media="screen">
	<link rel="stylesheet" href="homepage/css/font-awesome.min.css" media="screen">
	<link rel="stylesheet" href="homepage/css/vi-style.css" media="screen">
	<link href="homepage/css/tumblr.css" rel="stylesheet" type="text/css"/>
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->
	</head>

	<body class="blog list-style">

		<header role="banner" class="transparent light">
			<div class="row">
				<div class="nav-inner row-content buffer-left buffer-right even clear-after">
					<div id="brand">
						<h1 class="reset" style="margin-top: 5px;">
							<!-- <img src="http://gotoclassroom.org/homepage/img/logo-gotoclassroom-transparent-beta.png" alt="logo"> -->
							<!-- <a href="/">gotoClassroom</a> -->
							<a href="/" class="fixed-imgshow"><img src="/assets/logo-gotoclassroom.png" alt="Gotoclassroom Logo"></a>
							<a href="/" class="fixed-imghide"><img src="/assets/logo-gotoclassroom-transparent.png" alt="Gotoclassroom Logo"></a>
						</h1>
					</div><!-- brand -->
					<a id="menu-toggle" href="#"><i class="fa fa-bars fa-lg"></i></a>
					<nav>
						<ul class="reset" role="navigation">
							<li class="menu-item">
								<a href="blog.html">Blog</a>
							</li>
							<li class="menu-item">
								<a href="press.html">Press</a>
							</li>
							<li class="menu-item"><a href="contact.html">Contact</a></li>
						</ul>
					</nav>
				</div><!-- row-content -->
			</div><!-- row -->
		</header>

		<main role="main">
			<div id="intro-wrap"  data-height="22.222">
				<div id="intro" class="preload darken">
					<div class="intro-item" style="background-image: url(homepage/img/share-blog.jpg);">
						<div class="caption">
							<h2>Stories We Share</h2>
							<p>The universe is made of stories, not of atoms.</p>
						</div><!-- caption -->
					</div><!-- intro -->
				</div><!-- intro -->
			</div><!-- intro-wrap -->

			<div id="main" class="row">
				<div class="row-content buffer-left buffer-right buffer-bottom clear-after">
					<div class="column nine">

						<div id="tumblr_posts"></div>
						<article class="last">
							<div class="column three">
								<figure>&nbsp;</figure>
							</div><!-- column three -->
							<div class="column nine last">
								<div id="loadmore" class="loadmore">load more...</div>
							</div>
							<div class="clear"></div>
						</article>

					</div><!-- column nine -->
					<aside role="complementary" class="sidebar column three last">
						<div class="widget widget_search">
							<form role="search">
								<span class="pre-input"><i class="icon icon-search"></i></span>
								<input type="text" placeholder="Search..." value="" class="plain buffer">
							</form>
						</div>
						<div class="widget">
							<h4>About gotoClassroom</h4>
							<div class="textwidget">
								gotoClassroom is a Central App Store to distribute and manage third party educational applications for the Learning Management System.
							</div><!-- la class="textwidget" è forse generata automaticamente da wp -->
						</div>
						<div class="widget widget-categ">
							<h4>Recent Posts</h4>
							<div id="recent_posts"></div>
						</div>
					</aside>
				</div><!-- row-content -->
			</div><!-- row -->
		</main><!-- main -->

		<footer role="contentinfo" style="background:#fff;padding: 10px 0 50px;">
			<div class="row">
				<div class="row-content buffer clear-after">
					<section id="top-footer">
						<div class="widget column three">
							<h3 class="no-margin" style="color: #3a3e46;"><span style="  font-weight: normal;">goto</span><span class="semi-bold">Classroom</span> </h3>
						</div>
						<div class="widget column two">
							<address class="xs-no-padding  col-md-6 col-lg-6 col-sm-6  col-xs-12">
								4th Floor <br>
								333 Adelaide Street West <br>
								Toronto, Ontario, CANADA <br>
								M5V 1R5
							</address>
						</div>
						<div class="widget column three">
							<div class="">
								info@gotoclassroom.com
							</div>
						</div>
						<div class="widget column two">
							<div class="col-md-2 col-lg-2 col-sm-2  col-xs-12 ">
								<div class="bold">CONNECT WITH US</div>
								<a href="http://facebook.com/gotoclassroom" style="font-size: 22px;"><i class="fa fa-facebook-square"></i></a>
								<a href="http://twitter.com/gotoclassroom" style="font-size: 22px;"><i class="fa fa-twitter"></i></a>
							</div>
						</div>
						<div class="widget column two">
							<div class="" style="text-align: right;">
								Copyright © 2014 Privacy Policy<br>
								Design by gotoClassroom
							</div>
						</div>
					</section><!-- top-footer -->
				</div><!-- row-content -->
			</div><!-- row -->
		</footer>




		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
		<script src="homepage/js/plugins.js"></script>
		<script src="homepage/js/main.js"></script>

		<!-- BEGIN TUMBLR -->
		<script type="text/javascript" src="homepage/js/classie.js"></script>
		<script id="tumblrTemplate" type="text/x-jquery-tmpl">

		
		
		<article class="clear-after">
		<div class="column three">

		<figure>
		<img src="http://assets.tumblr.com/images/default_avatar/cube_closed_128.png" alt="">
		</figure>
		</div>

		<div class="column nine last bgcolumn">
		{{if type =='text'}}
		<h2><a target="_blank" href="${short_url}">${title}</a></h2>
		{{/if}}
		{{if type =='photo'}}
		<h2><a target="_blank" href="${short_url}">${slug}</a></h2>
		{{/if}}
		<h5 class="meta-post"><a target="_blank" href="${short_url}">${blog_name}</a> - <span class="date">${date}</span></h5>
		<div class="post_content">

		{{if type =='text'}}
		{{html body}}
		{{/if}}

		{{if type =='photo'}}
		{{each(prop, val) photos}}
		<img rel="0" data-full-size="${val.alt_sizes[0].url}" data-thumbnail="${val.alt_sizes[0].url}" src="${val.alt_sizes[0].url}" alt="${val.caption}" class="image_thumbnail">
		{{/each}}
		<p>{{html caption}}</p>
		{{/if}}

		{{if type =='quote'}}
		<blockquote>{{html text}}</blockquote>
		{{/if}}

		{{if type =='link'}}
		<a href="${url}" style="padding: 20px 10px; width:100%;" target="_blank" class="btn btn-success"> ${title} </a>
		<br>
		<p>{{html description}}</p>
		{{/if}}

		{{if type =='chat'}}
		<h3>${title}</h3>
		<input type="hidden" value="${title}" name="title">
		<ul>
		{{each(prop, val) dialogue}}
		<li><strong>${val.label}</strong> ${phrase}</li>
		{{/each}}
		</ul>
		{{/if}}

		{{if type =='audio'}}
		{{html embed}}
		<br>
		<p>{{html caption}}</p>

		{{/if}}

		{{if type =='answer'}}
		{{if asking_url == null}}
		<div class="well"><strong>${asking_name}</strong> asked:<br>{{html question}}</div>
		<input type="hidden" value='<blockquote><strong>${asking_name}</strong> asked:<br>{{html question}}</blockquote>' name="content[]">
		{{else}}
		<div class="well"><a href="${asking_url}">${asking_name}</a> asked:<br>{{html question}}</div>

		{{/if}}

		<p>{{html answer}}</p>
		{{/if}}

		{{if type =='video'}}
		<div id="video_preview_${id}" class="retro_video_preview" data-id="${id}" data-height="${thumbnail_height}" style="width: 100%; height: ${thumbnail_height}px;">
		<div class="retro_thumbnail" style="background-image: url('${thumbnail_url}');"></div>
		<div class="retro_fuzz"></div>
		<div class="safety_glass"></div>
		<div class="big_play_button"><span>Play</span></div>
		</div>
		{{if player[2].width > 500}}
		<input type="hidden" value='${player[1].embed_code}' id="video_code_${id}">
		{{else}}
		<input type="hidden" value='${player[2].embed_code}' id="video_code_${id}">
		{{/if}}

		<p>{{html caption}}</p>

		{{/if}}
		</div>

		<div class="post_tags">
		<div class="post_tags_inner">
		{{each(prop, val) tags}}
		<a href="blog.html?search=${val}">#${val}</a>
		{{/each}}
		</div>
		</div>
		</div>
		</article>


		</script>

		<script id="recentpostsTemplate" type="text/x-jquery-tmpl">
		{{if type =='text'}}
		<p><a target="_blank" href="${short_url}">${title}</a></p>
		{{/if}}
		{{if type =='photo'}}
		<p><a target="_blank" href="${short_url}">${slug}</a></p>
		{{/if}}
		</script>
		<script type="text/javascript" src="homepage/js/jquery.tmpl.min.js"></script>
		<script type="text/javascript" src="homepage/js/jquery.tmplPlus.min.js"></script>
		<script type="text/javascript" src="homepage/js/tumblr.js"></script>
		<!-- END TUMBLR -->





	</body>

	</html>
