<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-5">
						<h1 class="footer-logo">
						<img src="/assets/logo-gotoclassroom-transparent-beta.png" alt="Footer Logo Blue">
						</h1>
						<p>© gotoClassroom 2015</p>
					</div>
					<div class="col-md-7">
						<ul class="footer-nav">
							<li><a href="#about">About</a></li>
							<li><a href="#features">Features</a></li>
							<!-- <li><a href="#screenshots">Screenshots</a></li> -->
							<!-- <li><a href="#download">Download</a></li> -->
							<li><a href="http://gotoclassroom.org/help.html">Help</a></li>
							<li><a href="http://gotoclassroom.org/faq.html">FAQs</a></li>
							<li><a href="http://gotoclassroom.org/blog.html">Blog</a></li>
							<li><a href="http://gotoclassroom.org/press.html">Press</a></li>
							<li><a href="http://gotoclassroom.org/contact.html">Contact</a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
		<div class="overlay overlay-boxify">
			<nav>
				<ul>
					<li><a href="#about"><i class="fa fa-heart"></i>About</a></li>
					<li><a href="#features"><i class="fa fa-flash"></i>Features</a></li>
				</ul>
				<ul>
					<li><a href="http://gotoclassroom.org/help.html"><i class="fa fa-life-bouy"></i>Help</a></li>
					<li><a href="http://gotoclassroom.org/faq.html"><i class="fa fa-question"></i>FAQs</a></li>
				</ul>
				<ul>
					<li><a href="http://gotoclassroom.org/blog.html"><i class="fa fa-pencil-square-o"></i>Blog</a></li>
					<li><a href="http://gotoclassroom.org/press.html"><i class="fa fa-newspaper-o"></i>Press</a></li>
					<li><a href="http://gotoclassroom.org/contact.html"><i class="fa fa-building"></i>Contact</a></li>
				</ul>
				<!--<ul>
					 <li><a href="#screenshots"><i class="fa fa-desktop"></i>Screenshots</a></li>
					<li><a href="#download"><i class="fa fa-download"></i>Download</a></li>
				</ul>-->
			</nav>
		</div>

		<link href="/assets/sweet-alert.css" rel="stylesheet" type="text/css" data-turbolinks-track="false">
		<script type="text/javascript" src="/assets/sweet-alert.min.js" data-turbolinks-track="false"></script>