<!-- Fraction Slider -->

<div class="responsive-container">

    <div class="slideshow" id="slideshow">
        <ol class="slides">
            <li class="current">
                <div class="description">
                    <h2>Their Challenges,<br>Your Answers</h2>
                    <p>Develop and market educational tools on an exciting and new LMS platform.</p>
                </div>
                <div class="tiltview col">
                    <a href="#"><img src="/assets/developer/screen-1.jpg"/></a>
                    <a href="#"><img src="/assets/developer/screen-2.jpg"/></a>
                </div>
            </li>
            <li>
                <div class="description">
                    <h2>How can you make education better? </h2>
                    <p>Use gotoClassroom's developer resources and bring your solutions to life. Receive feedback with gotoClassroom's userbase of teachers, students, and parents soon after launching your application.</p>
                </div>
                <div class="tiltview row">
                    <a href="#"><img src="/assets/developer/screen-3.jpg"/></a>
                    <a href="#"><img src="/assets/developer/screen-4.jpg"/></a>
                </div>
            </li>
            <li>
                <div class="description">
                    <h2>In-house support</h2>
                    <p>gotoClassroom technical supporters will try their best to help your development along the way.</p>
                </div>
                <div class="tiltview col">
                    <a href="#"><img src="/assets/developer/screen-2.jpg"/></a>
                    <a href="#"><img src="/assets/developer/screen-5.jpg"/></a>
                </div>
            </li>
        </ol>
    </div><!-- /slideshow -->

</div>

<!-- Fraction Slider End -->


<!-- Body -->
<div class="container">
    <div class="cont-outer">

        <!-- Services -->

        <div class="row-fluid services clearfix">
            <div class="span4 service">
                <div class="header">
                    <div class="header-bg" style="overflow: hidden; width: 18.9189189189189%;"></div>
                    <div class="header-border"></div>
                    <div class="service-header">
                        <div class="icon">
                            <i class="icon-mobile-phone icon-2x"></i>
                        </div>
                        <a href="<%= document_developer_index_url %>#/documentation/api_overview.html"><h3 class="" style="display: block;">API Endpoints</h3></a>
                    </div>
                </div>
                <div class="body">
                    <p>The gotoClassroom API allows you to build a variety of educational applications and seamlessly integrate these applications into the gotoClassroom platform. Your application will provide additional features and tools on top of what gotoClassroom already offers for each class. These applications will be installed and paid for by users on a class-by-class basis.</p>
                    <br>
                    <a href="<%= document_developer_index_url %>#/documentation/api_overview.html" class="btn btn-primary">View the API</a>
                </div>
            </div>
            <div class="span4 service">
                <div class="header">
                    <div class="header-bg" style="overflow: hidden; width: 70px;"></div>
                    <div class="header-border"></div>
                    <div class="service-header">
                        <div class="icon">
                            <i class="icon-lightbulb icon-2x"></i>
                        </div>
                        <a href="<%= document_developer_index_url %>"><h3 class="" style="display: block;">Documentation</h3></a>
                    </div>
                </div>
                <div class="body">
                    <p>The gotoClassroom API provides access to most of the data in the platform. Predictable URLs for accessing resources, and uses built-in HTTP features to receive commands and return responses. This makes it easy to communicate with from a variety of environments such as command-line utilities, gadgets, the browser URL bar itself. </p>

                    <!-- <p>The API accepts JSON or form-encoded content requests. It returns JSON content in all of its responses, including errors. Only UTF-8 character encoding is supported for both requests and responses. </p> -->
                    <br>
                    <a href="<%= document_developer_index_url %>" class="btn btn-primary">Read the docs</a>
                </div>
            </div>
            <div class="span4 service">
                <div class="header">
                    <div class="header-bg" style="overflow: hidden; width: 70px;"></div>
                    <div class="header-border"></div>
                    <div class="service-header">
                        <div class="icon">
                            <i class="icon-briefcase icon-2x"></i>
                        </div>
                        <a href="javascript:;" class="popup-app-store"><h3 class="" style="display: block;">App Store</h3></a>
                    </div>
                </div>
                <div class="body">
                    <p>The gotoClassroom Marketplace hosts all the educational applications contributed by various developers, and businesses around the world. The Marketplace organizes applications into 4 different categories. They are categorized as Classroom Tools, Adminstrator Tools, Parents Tools, and Learning Games to help users easily find application that are in need.</p>
                    <br>
                    <a href="javascript:;" class="btn btn-primary popup-app-store">Explore the store</a>
                </div>
            </div>
        </div>

        <!-- Services end -->


        <!-- Recent Projects Title -->
                    <!-- <div class="recent-projects-head">
                <div class="title">
                    <h2>Recent Apps</h2>
                    Explore new applications that have been recently added into the Marketplace from various developers from around the world.
                </div>
            </div> -->
            <!-- Recent Projects Title end -->


        </div>
    </div>
    <!--Closing 1200 container -->



    <!-- Recent Projects -->
            <!-- <div class="recent-projects">
                <a href="#" class="prev disabled"><i class="icon-angle-left icon-2x"></i></a>
                <a href="#" class="next"><i class="icon-angle-right icon-2x"></i></a>
                <div class="projects">
                    <div class="project" data-title="Title Here" data-link="#link-to-appstore" data-link-title="View More"><img alt="" src="/assets/developer/temp/1.jpg" /></div>
                    <div class="project" data-title="Title Here" data-link="#link-to-appstore" data-link-title="View More"><img alt="" src="/assets/developer/temp/2.jpg" /></div>
                    <div class="project" data-title="Title Here" data-link="#link-to-appstore" data-link-title="View More"><img alt="" src="/assets/developer/temp/3.jpg" /></div>
                    <div class="project" data-title="Title Here" data-link="#link-to-appstore" data-link-title="View More"><img alt="" src="/assets/developer/temp/4.jpg" /></div>
                    <div class="project" data-title="Title Here" data-link="#link-to-appstore" data-link-title="View More"><img alt="" src="/assets/developer/temp/5.jpg" /></div>
                    <div class="project" data-title="Title Here" data-link="#link-to-appstore" data-link-title="View More"><img alt="" src="/assets/developer/temp/6.jpg" /></div>
                    <div class="project" data-title="Title Here" data-link="#link-to-appstore" data-link-title="View More"><img alt="" src="/assets/developer/temp/7.jpg" /></div>
                    <div class="project" data-title="Title Here" data-link="#link-to-appstore" data-link-title="View More"><img alt="" src="/assets/developer/temp/8.jpg" /></div>
                    <div class="project" data-title="Title Here" data-link="#link-to-appstore" data-link-title="View More"><img alt="" src="/assets/developer/temp/9.jpg" /></div>
                    <div class="project" data-title="Title Here" data-link="#link-to-appstore" data-link-title="View More"><img alt="" src="/assets/developer/temp/10.jpg" /></div>
                    <div class="project" data-title="Title Here" data-link="#link-to-appstore" data-link-title="View More"><img alt="" src="/assets/developer/temp/1.jpg" /></div>
                    <div class="project" data-title="Title Here" data-link="#link-to-appstore" data-link-title="View More"><img alt="" src="/assets/developer/temp/2.jpg" /></div>
                    <div class="project" data-title="Title Here" data-link="#link-to-appstore" data-link-title="View More"><img alt="" src="/assets/developer/temp/3.jpg" /></div>
                    <div class="project" data-title="Title Here" data-link="#link-to-appstore" data-link-title="View More"><img alt="" src="/assets/developer/temp/4.jpg" /></div>
                    <div class="project" data-title="Title Here" data-link="#link-to-appstore" data-link-title="View More"><img alt="" src="/assets/developer/temp/5.jpg" /></div>
                    <div class="project" data-title="Title Here" data-link="#link-to-appstore" data-link-title="View More"><img alt="" src="/assets/developer/temp/6.jpg" /></div>
                    <div class="project" data-title="Title Here" data-link="#link-to-appstore" data-link-title="View More"><img alt="" src="/assets/developer/temp/7.jpg" /></div>
                    <div class="project" data-title="Title Here" data-link="#link-to-appstore" data-link-title="View More"><img alt="" src="/assets/developer/temp/8.jpg" /></div>
                    <div class="project" data-title="Title Here" data-link="#link-to-appstore" data-link-title="View More"><img alt="" src="/assets/developer/temp/9.jpg" /></div>
                    <div class="project" data-title="Title Here" data-link="#link-to-appstore" data-link-title="View More"><img alt="" src="/assets/developer/temp/10.jpg" /></div>
                    <div class="project" data-title="Title Here" data-link="#link-to-appstore" data-link-title="View More"><img alt="" src="/assets/developer/temp/1.jpg" /></div>
                    <div class="project" data-title="Title Here" data-link="#link-to-appstore" data-link-title="View More"><img alt="" src="/assets/developer/temp/2.jpg" /></div>
                    <div class="project" data-title="Title Here" data-link="#link-to-appstore" data-link-title="View More"><img alt="" src="/assets/developer/temp/3.jpg" /></div>
                    <div class="project" data-title="Title Here" data-link="#link-to-appstore" data-link-title="View More"><img alt="" src="/assets/developer/temp/4.jpg" /></div>
                    <div class="project" data-title="Title Here" data-link="#link-to-appstore" data-link-title="View More"><img alt="" src="/assets/developer/temp/5.jpg" /></div>
                    <div class="project" data-title="Title Here" data-link="#link-to-appstore" data-link-title="View More"><img alt="" src="/assets/developer/temp/6.jpg" /></div>
                    <div class="project" data-title="Title Here" data-link="#link-to-appstore" data-link-title="View More"><img alt="" src="/assets/developer/temp/7.jpg" /></div>
                    <div class="project" data-title="Title Here" data-link="#link-to-appstore" data-link-title="View More"><img alt="" src="/assets/developer/temp/8.jpg" /></div>
                    <div class="project" data-title="Title Here" data-link="#link-to-appstore" data-link-title="View More"><img alt="" src="/assets/developer/temp/9.jpg" /></div>
                    <div class="project" data-title="Title Here" data-link="#link-to-appstore" data-link-title="View More"><img alt="" src="/assets/developer/temp/10.jpg" /></div>
                </div>
            </div> -->
            <!-- Recent Projects end -->


            <!-- Action -->
            <div class="row-fluid action">
                <div class="container">
                    <div class="span9">
                        <p>Develop and design applications for a wide audience of teachers, students, parents.</p>
                    </div>
                    <div class="span3">
                        <div class="text-center">
                            <a href="/users/sign_up" title="Sign Up!" class="btn btn-primary btn-large">Sign Up <i class="icon-angle-right icon-large"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Action End -->

            <script type="text/javascript">

            pSlider.rows = 2;
            pSlider.lock = true;
            pSlider.loadScroll();

            </script>

            <script>
            new TiltSlider( document.getElementById( 'slideshow' ) );
            </script>

            <script>
            $(function(){

                $('.popup-app-store').click(function(){
                    swal("Warning!", "Currently, we're testing couple applications contributed by developers and we will try our best to validate them soon and release them on our App Store for your shopping. Please check back at another date or simply fill out the contact form below and we will contact you once these applications are available. Thank you for your patience.", "warning");
                });
            });
            </script>