<div class="page-title">
    <div class="container">
        <h1>Development Partners</h1>
        <ul class="breadcrumb">
            <li><a href="<%= developer_index_url %>">Home</a> <span class="divider">/</span></li>
            <li class="active">Development partners</li>
        </ul>
    </div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-xs-12 col-sm-offset-2 col-sm-8">
            <br>
            <div class="page-header">
                <h3>About Our Partners</h3>
            </div>
            <p>
                gotoClassroom's development partners are independently owned and operated software design and development firms from around the world. Carefully selected, gotoClassroom ensures that our development partners are capable of delivering top notch applications for our users. Should you require any assistance in developing your educational tools, we recommend you work with our development partners, since we have done the screening process for you.
            </p>
            <p>
                Our selection process is based on the following factors: <br>
                <span style='padding-left:20px;'>a) The software firm has as a staff of more than 3 people,</span> <br>
                <span style='padding-left:20px;'>b) The software firm has done some sort of education project in the past 2 years, </span> <br>
                <span style='padding-left:20px;'>c) The software firm delivers high quality product(s), </span> <br>
                <span style='padding-left:20px;'>d) The software firm is dependable and able to meet deadlines</span>
            </p>
            <p>
                With that said, it is our obligation to disclose to you that gotoClassroom gains $0 dollar from any businesses that our development partners acquire.
            </p>

            <div class="development_partners well">

                <div class="span2">
                    <img class="img-circle" src="/assets/developer/partners/logo/vinova.png" width="150px" height="150px">
                </div>

                <div class="span8">
                    <h3>Vinova</h3>
                    <ul>
                        <li><strong>Email:</strong> info@vinova.sg</li>
                        <li><strong>Location:</strong> Singapore</li>
                        <li><strong>Service:</strong> Make Ideas Reality</li>
                        <li><strong>Vinova on  <a href="javascript:;">gotoClassroom market place</a></strong></li>
                    </ul>
                    <p>
                        <a onclick="$(this).next().slideToggle(); $(this).hide();" href="javascript:;;">More... </a>
                        <span class="partner-description">We are passionate developers, remarkable artists and challenge takers. We design and build innovative Mobile Apps, Web Apps, and Mobile Games. We combine agile development methodologies with the latest technologies to build your applications in the shortest possible time. Having a burning desire to build your next killing product? Let's work together to make your ideas reality.</span>
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>