<section class="video" id="features">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h1><a href="https://www.youtube.com/watch?v=mYleW52Jseg" class="youtube-media"><i class="fa fa-play-circle-o"></i> Watch the Video</a></h1>
			</div>
		</div>
	</div>
</section>

<section class="showcase">
	<div class="showcase-wrap">
		<div class="texture-overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="device wp3" style="position: relative;left: auto;margin: 0 auto;">
						<div class="device-content">
							<div class="showcase-slider">
								<ul class="slides" id="showcaseSlider">
									<li>
										<img src="/assets/home/screen1.jpg" alt="Device Content Image">
									</li>
									<li>
										<img src="/assets/home/screen2.jpg" alt="Device Content Image">
									</li>
									<li>
										<img src="/assets/home/screen3.jpg" alt="Device Content Image">
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<h2>School/Institution</h2>
					<p>A clean LMS built from the ground up for your educational institution.</p>
					<ul class="features-list">
						<li>Fully functional Learning Management System source code and ready for Server deployment.</li>
						<li>Simple Server deployment instructions with step by step on how to deploy the LMS on your Server, and get it up and running within 2 hours.</li>
						<li>Integrates with existing systems and hosting domain.</li>
						<li>Tailored for the cloud platform Amazon EC2, Google Cloud, and Microsoft Azure.</li>
						<li>Includes automatic feature updates and full technical support.</li>
					</ul>
					<br>
					<h2>Classroom</h2>
					<p>Fully featured online classrooms allow educators and students to work better</p>
					<ul class="features-list">
						<li>Individual educators can create and manage an unlimited number of classrooms.</li>
						<li>Professional tools showcases education, experience, and publications in an online portfolio.</li>
						<li>Students can manage their coursework, engage with their classes, and build opportunities.</li>
						<li>Parent registration allows parents to connect and track their children learning progress.</li>
						<li>Use a wide variety of seamlessly integrated apps to customize both the teaching and learning experiences.</li>
					</ul>
					<br><br>
					<a href="javascript:;" class="use-btn animated fadeInUp" data-toggle="modal" data-target="#myModal">Get the source code <i class="fa fa-download"></i></a>

					<a href="http://gotoclassroom.org" target="_blank" class="download-btn">Try LMS Now!<i class="fa fa-cloud"></i></a>
					<!-- Modal -->
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title" id="myModalLabel">Get Free LMS Now</h4>
									<h5 class="modal-title" id="myModalLabel">(Is it really free? Yes, it’s real and completely free with no strings attached. gotoClassroom’s LMS source code can be cloned to your school’s Server from our Github account as the following)</h5>
								</div>
								<div class="modal-body">
									<p style="color: #333">
										<a href="https://github.com/gotoClassroom/lms_install" target="_blank">https://github.com/gotoClassroom/lms_install</a>
									</p>
									<p style="color: #333">
										What do you need to get the LMS up and running on your school’s Server? Here are things you will need:
									</p>
									<p style="color: #333; padding-left:10px;">
										1) Either a dedicated or a cloud-based server with a minimum of 2GB of RAM  <br>
										2) Website domain or subdomain (e.g., www.yourdomain.com) <br>
										3) Amazon S3 (register with Amazon Cloud service in less than 5 minutes) <br>
 										4) Amazon SES (register with Amazon Cloud service in less than 5 minutes) <br>
										5) 1 or 2 people with minimum computer knowledge
									</p>
									<p style="color: #333">
										Do you need a software expert for the deployment and maintenance of the LMS? The answer is a big NO. One or two people with minimum computer knowledge could easily do the job. Our deployment script will walk with LMS administrator step-by-step, and advise them on when to provide Website Domain or Subdomain, Amazon S3, and Amazon SES secret access key etc.
									</p>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="showcase1">
	<div class="showcase-wrap1">
		<div class="texture-overlay"></div>
		<div class="container">
			<div class="row">
				<div id="main_chart">
					<br><br>
					<h1 class="text-center">
						<img src="assets/compare-icon.png" width="50">
						Comparison Chart
					</h1>
					<br><br>

					<table id="table3" class="tablesorter">
						<thead>
							<tr>
								<td class="sorter-false sorfalse-div">
									<span>&nbsp;</span>
									<span>gotoClassroom’s LMS</span>
									<span>Moodle’s LMS</span>
								</td>
							</tr>
						</thead>
						<tbody class="tbody-tr">
							<tr>
								<td>
									<table id="nested1" class="nested nested-bor">
										<thead>
											<tr>
												<th class="sorter-false">System</th>
												<th class="sorter-false"></th>
												<th class="sorter-false"></th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Server memory</td>
												<td>1GB for every 1000 users</td>
												<td>1GB for every 20 users</td>
											</tr>
											<tr>
												<td>Data Storage</td>
												<td>Support Cloud storage (i.e, Amazon EC2). Amazon is a champion for online data security.</td>
												<td>Store data locally on the Server, and requires special Data Security Engineer to look after it in order to secure the data.</td>
											</tr>
											<tr>
												<td>Code size</td>
												<td>43.9 MB</td>
												<td>45.2 MB</td>
											</tr>
											<tr>
												<td>Code line</td>
												<td>387,447 lines of code</td>
												<td>Over 2,392,202 lines of code</td>
											</tr>
											<tr>
												<td>Scalability</td>
												<td>Horizontally scalable to depend less on the Server specifications. For example, we could stack to 2, 3, 4 etc small Servers together as we scale.</td>
												<td>Vertically scale which requires high performance Server and keep adding RAM, Hard Drive to the same Server as they scale.</td>
											</tr>
											<tr>
												<td>Server deployment</td>
												<td>Single deployment script combined with Docker service which minimum computer knowledge staff could easily do.<br/><p></p> Trust us, you will appreciate the amount of work we invested to make it extremely simple to deploy sophisticated LMS.</td>
												<td>Old-fashioned way to deploy the system on to the new Server, which requires a high level of Server expertise to complete such deployment tasks.</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
							<tr class="chevent">
								<td>
									<table id="nested2" class="nested nested-bor">
										<thead>
											<tr>
												<th class="sorter-false">Features</th>
												<th class="sorter-false"></th>
												<th class="sorter-false"></th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>App Store</td>
												<td>Global App Store updates automatically across the installed LMS without any involvement from IT Administrator.</td>
												<td>Localized App Store requires IT Administrators to download new source codes and re-deploy the App Store in order to get the App Store up-to-date.</td>
											</tr>
											<tr>
												<td>Branding</td>
												<td>Host the LMS under your own domain name (i.e, http://www.yourLMSname.com)</td>
												<td>Host the LMS under Moodle domain name (i.e, http://yourLMSname.moodle.com)</td>
											</tr>
											<tr>
												<td>Q&A Portal</td>
												<td>Quora like Q&A Portal for your whole school/institution.</td>
												<td>None.</td>
											</tr>
											<tr>
												<td>Portfolio</td>
												<td>Your teachers can professionally design their teaching portfolio homepage and at the same time host their class under one web domain/subdomain address.</td>
												<td>None.</td>
											</tr>
											<tr>
												<td>Resume</td>
												<td>Your students can professionally design their own resume without putting a lot stress on your Career Center staffs. The finished resume has its own web domain/subdomain address to unblock the potential reach limits.</td>
												<td>None.</td>
											</tr>
											<tr>
												<td>Yearbook</td>
												<td>After each term/semester, the classroom will become a digital Yearbook for an unlimited number of years, until teachers decide to delete it.</td>
												<td>None.</td>
											</tr>
											<tr>
												<td>Try and tell us which LMS is better</td>
												<td>Try live and real LMS at <a target="_blank" href="http://gotoclassroom.org">http://gotoclassroom.org</a> What you see is what you get, and you are two hours away from using it.</td>
												<td>Try Moodle sandbox demo at <a target="_blank" href="https://moodle.org/demo/">https://moodle.org/demo/</a> Another month away before you can put it in use.</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
							<tr>
								<td>
									<table id="nested3" class="nested nested-bor">
										<thead>
											<tr>
												<th class="sorter-false">Cost</th>
												<th class="sorter-false"></th>
												<th class="sorter-false"></th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Free</td>
												<td>gotoClassroom is also an Open Source with well documented code and API, so your IT Admin can easily manage the LMS.</td>
												<td>It’s an open source but you have to hire consultants and engineers to look after the LMS and the real cost is equivalent to buying other LMS.<br/><p></p>Don’t let their “FREE” fool you!</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
					<br><br>

				</div>
			</div>
		</div>
	</div>
</section>

<section class="screenshots-intro">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Developers</h1>
				<!--<h2>Their Problems, Your Answers</h2> -->
				<p>Join the gotoClassroom development community and help evolve the education environment by using our simple Application Program Interface (API) to design your applications and fast track your creativity.</p>
				<ul class="features-list">
					<li>Develop exciting applications for a wide audience of teachers, students, and parents.</li>
					<li>Super easy to integrate your existing solutions with gotoClassroom's App Store.</li>
					<li>Build any educational application (i.e, tool, game, content-based application) in any programming language. </li>
					<li>Seamlessly integrate your application into the Learning Management System.</li>
					<li>Utilize our open API to individualize your applications to each user’s specific needs.</li>
					<li>Full developer support provided, with easy application approval, and short received payment periods.</li>
				</ul>
				<p><a href="/developer" class="arrow-btn">Access the API & Documentation <i class="fa fa-long-arrow-right"></i></a></p>
			</div>
		</div>
	</div>
</section>

<section id="team" class="screenshots">
	<div class="container-fluid">
		<div class="row">
			<ul class="grid">
				<li>
					<figure>
						<img alt="Henry's photo" src="/assets/teams/huy_quach/thumb/huy_quach.jpg">
						<figcaption>
							<div class="caption-content">
								<a class="single_image" href="/assets/teams/huy_quach/large/huy_quach.jpg">
									<h3><u>Henry</u></h3>
									<small>Co-Founder, CEO</small>
								</a>
							</div>
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img alt="Danny's photo" src="/assets/teams/danny_tran/thumb/danny_tran.jpg">
						<figcaption>
							<div class="caption-content">
								<a class="single_image" href="/assets/teams/danny_tran/large/danny_tran.jpg">
									<h3><u>Danny</u></h3>
									<small>Co-founder, Director of Engineering</small>
								</a>
							</div>
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img alt="Nguyen's photo" src="/assets/teams/michelle_nguyen/thumb/michelle_nguyen.jpg">
						<figcaption>
							<div class="caption-content">
								<a class="single_image" href="/assets/teams/michelle_nguyen/large/michelle_nguyen.jpg">
									<h3><u>Nguyen</u></h3>
									<small>Creative Director</small>
								</a>
							</div>
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img alt="Minh Huynh's photo" src="/assets/teams/minh_huynh/thumb/minh_huynh.jpg">
						<figcaption>
							<div class="caption-content">
								<a class="single_image" href="/assets/teams/minh_huynh/large/minh_huynh.jpg">
									<h3><u>Gabriel</u></h3>
									<small>Lead Developer</small>
								</a>
							</div>
						</figcaption>
					</figure>
				</li>
			</ul>
		</div>
		<div class="row">
			<ul class="grid">
				<li>
					<figure>
						<img alt="Viet Beto's photo" src="/assets/teams/viet_bao/thumb/viet_bao.jpg">
						<figcaption>
							<div class="caption-content">
								<a class="single_image" href="/assets/teams/viet_bao/large/viet_bao.jpg">
									<h3><u>Viet Beto</u></h3>
									<small>Front-End Designer</small>
								</a>
							</div>
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img alt="Ha's photo" src="/assets/teams/ha_dang/thumb/ha_dang.jpg">
						<figcaption>
							<div class="caption-content">
								<a class="single_image" href="/assets/teams/ha_dang/large/ha_dang.jpg">
									<h3><u>Ha</u></h3>
									<small>Developer</small>
								</a>
							</div>
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img alt="Hanh's photo" src="/assets/teams/hanh_nguyen/thumb/hanh_nguyen.jpg">
						<figcaption>
							<div class="caption-content">
								<a class="single_image" href="/assets/teams/hanh_nguyen/large/hanh_nguyen.jpg">
									<h3><u>Hanh</u></h3>
									<small>Tester</small>
								</a>
							</div>
						</figcaption>
					</figure>
				</li>
				<li>
					<figure>
						<img alt="Phuong Anh's photo" src="/assets/teams/anh_phuong/thumb/anh_phuong.jpg">
						<figcaption>
							<div class="caption-content">
								<a class="single_image" href="/assets/teams/anh_phuong/large/anh_phuong.jpg">
									<h3><u>Phuong Anh</u></h3>
									<small>Tester</small>
								</a>
							</div>
						</figcaption>
					</figure>
				</li>
			</ul>
		</div>
	</div>
</section>

<section id="faq" class="faq">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">

				<h1><a data-target="#faqContent" data-toggle="modal" href="javascript:;;"><i class="fa fa-question-circle"></i> FAQs</a></h1>

				<div aria-hidden="true" aria-labelledby="myLargeModalLabel" role="dialog" tabindex="-1" class="modal fade" id="faqContent" style="display: none;">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">

							<div class="modal-header">
								<button class="close" data-dismiss="modal">×</button>
								<h3>FAQs</h3>
							</div>

							<div class="modal-body">
								<div class="st-accordion" id="st-accordion">
									<ul>
										<li class="" style="height: 40px;">
											<a href="javascript:;;">What is gotoClassroom?<span class="st-arrow">Open or Close</span></a>
											<div class="st-content" style="display: none;">
												<p>gotoClassroom is a Central APP Store to distribute and manage third party educational tools for the Learning Management System. gotoClassroom has a diverse team of 8 headquarted in Toronto, Canada and has been developing EdTech software for over 8 years.</p>
											</div>
										</li>
										<li class="" style="height: 40px;">
											<a href="javascript:;;">How does gotoClassroom work?<span class="st-arrow">Open or Close</span></a>
											<div class="st-content" style="display: none;">
												<p>gotoClassroom develops and leases its LMS to any educational institutions for free of charge. The LMS is clean and built from the ground up for the seamless third party educational tools integration purpose, and it ready for teacher to start manage his/her class, as well as it ready for student to manage their coursework.</p>

												<p>You can experience LMS live at http://gotoclassroom.org, from the link provided you can either register and experience it or check the example it provides for different user roles.</p>
											</div>
										</li>
										<li class="" style="height: 40px;">
											<a href="javascript:;;">The LMS is free? Really?<span class="st-arrow">Open or Close</span></a>
											<div class="st-content" style="display: none;">
												<p>Yes. gotoClassroom leases its LMS to any educational institutions for free of charge as long as the organizations that has over 500 students and teachers combined. Our primary business is not on the LMS but rather we generate revenue from distributing and managing third party educational tools for the LMS. Also, the company is operating with support from our investment partners. This allows us to grow our customer base quickly and focus on developing a central APP Store for the Learning Management System.</p>
											</div>
										</li>
										<li class="" style="height: 40px;">
											<a href="javascript:;;">Where do I sign up as developer?<span class="st-arrow">Open or Close</span></a>
											<div class="st-content" style="display: none;">
												<p>gotoClassroom allows any type of user to contribute their education solutions to the gotoClassroom's App Store, thus, there is no specific sign-up as developer. For example, you sign up either with Teacher, Student or Parents role and still can deploy your application on the gotoClassroom's APP Store.</p>
											</div>
										</li>
										<li class="" style="height: 40px;">
											<a href="javascript:;;">How can I deploy my application on to the gotoClassroom's App Store?<span class="st-arrow">Open or Close</span></a>
											<div class="st-content" style="display: none;">
												<p>All you have to do is log in and select Create New App from the App Store. From there, we have listed everything you need to deploy your application. You can login from http://www.gotoclassroom.com/ developer</p>
											</div>
										</li>
										<li class="" style="height: 40px;">
											<a href="javascript:;;">How long does it take for gotoClassroom to review and approve a new App?<span class="st-arrow">Open or Close</span></a>
											<div class="st-content" style="display: none;">
												<p>It is dependent on how many applications we still have in our backlog, as well as the sophistication level of your application. You can check your application submission status with our application reviewer at app@gotoclassroom.com.</p>
											</div>
										</li>
										<li class="" style="height: 40px;">
											<a href="javascript:;;">An App I want to install states FREE, is it really free?<span class="st-arrow">Open or Close</span></a>
											<div class="st-content" style="display: none;">
												<p>Yes, it is free. However, there some applications that are free with basic features and require users to pay for its premium features. Before you install an App, please make sure check the App details first and don't forget to read user reviews for a better experience.</p>
											</div>
										</li>
										<li class="" style="height: 40px;">
											<a href="javascript:;;">What is the method of payment if I want to install an App?<span class="st-arrow">Open or Close</span></a>
											<div class="st-content" style="display: none;">
												<p>The payment method is PayPal, which accepts major Credit and Debit Cards including Visa, Mastercard and American Express.</p>
											</div>
										</li>
										<li class="" style="height: 40px;">
											<a href="javascript:;;">Is it possible to recieve a refund if I don't like an App?<span class="st-arrow">Open or Close</span></a>
											<div class="st-content" style="display: none;">
												<p>Once you install an App, you have 48 hours to decide whether an App provides what you need. We will refund you 92% of the amount that you paid, and 8% is kept for the transaction fees.</p>
											</div>
										</li>
										<li class="" style="height: 40px;">
											<a href="javascript:;;">What is the payment period for developers?<span class="st-arrow">Open or Close</span></a>
											<div class="st-content" style="display: none;">
												<p>gotoClassroom holds your payment for 72 hours after the purchase of your App and the payment periods are on the 15th and 30th of the month. You can check your earnings in your developer profile.</p>
											</div>
										</li>
										<li class="" style="height: 40px;">
											<a href="javascript:;;">Is it possible to take down my App?<span class="st-arrow">Open or Close</span></a>
											<div class="st-content" style="display: none;">
												<p>Certaintly. All you have to do is go to your developer profile and, from Your Apps section, select an App that you want to delete. You will receive an App delete notification once it has been successfully deleted.</p>
											</div>
										</li>
									</ul>
								</div>
							</div>
							<div class="modal-footer">
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="download" id="download">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center wp4">
						<!-- <h1>Seen Enough?</h1>
						<a href="#" class="download-btn">Get the source code! <i class="fa fa-download"></i></a> -->
						<h1>Register your Email below for our Newsletter!</h1>
						<form id="subscribe-form" class="form-inline" accept-charset="utf-8" method="post">
							<div class="form-group">
								<input type="text" class="form-control input-lg" name="txtEmail" id="txtEmail" placeholder="Your Email">
							</div>
							<button id="btn-subscribe" type="button" class="btn btn-info btn-lg">Subscribe</button>
						</form>
					</div>
				</div>
			</div>
		</section>

		<!-- <section class="features-list">
			<div class="container">
				<div class="row">
					<div class="col-md-12">

						<div class="col-md-4 feature-1 wp2">
							<div class="feature-icon">
								<i class="fa fa-desktop"></i>
							</div>
							<div class="feature-content">
								<h1>Responsive</h1>
								<p>Built using HTML5/CSS3 and jQuery, and built using one of the world's most powerful CSS frameworks available, Bootstrap.</p>
								<a href="#" class="read-more-btn">Read More <i class="fa fa-chevron-circle-right"></i></a>
							</div>
						</div>
						<div class="col-md-4 feature-2 wp2 delay-05s">
							<div class="feature-icon">
								<i class="fa fa-flash"></i>
							</div>
							<div class="feature-content">
								<h1>Multi-Purpose</h1>
								<p>Perfect if you run your own start-up, product or service. You can showcase your business converting your visits to income.</p>
								<a href="#" class="read-more-btn">Read More <i class="fa fa-chevron-circle-right"></i></a>
							</div>
						</div>
						<div class="col-md-4 feature-3 wp2 delay-1s">
							<div class="feature-icon">
								<i class="fa fa-heart"></i>
							</div>
							<div class="feature-content">
								<h1>Absolutely Free</h1>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem. </p>
								<a href="#" class="read-more-btn">Read More <i class="fa fa-chevron-circle-right"></i></a>
							</div>
						</div>

					</div>
				</div>
			</div>
		</section> -->
<!--
		<section class="screenshots" id="screenshots">
			<div class="container-fluid">
				<div class="row">
					<ul class="grid">
						<li>
							<figure>
								<img src="img/01-screenshot.jpg" alt="Screenshot 01">
								<figcaption>
								<div class="caption-content">
									<a href="img/large/01.jpg" class="single_image">
										<i class="fa fa-search"></i><br>
										<p>Optimised For Design</p>
									</a>
								</div>
								</figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="img/02-screenshot.jpg" alt="Screenshot 01">
								<figcaption>
								<div class="caption-content">
									<a href="img/large/02.jpg" class="single_image">
										<i class="fa fa-search"></i><br>
										<p>User Centric Design</p>
									</a>
								</div>
								</figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="img/03-screenshot.jpg" alt="Screenshot 01">
								<figcaption>
								<div class="caption-content">
									<a href="img/large/03.jpg" class="single_image">
										<i class="fa fa-search"></i><br>
										<p>Responsive and Adaptive</p>
									</a>
								</div>
								</figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="img/04-screenshot.jpg" alt="Screenshot 01">
								<figcaption>
								<div class="caption-content">
									<a href="img/large/04.jpg" class="single_image">
										<i class="fa fa-search"></i><br>
										<p>Absolutely Free</p>
									</a>
								</div>
								</figcaption>
							</figure>
						</li>
					</ul>
				</div>
				<div class="row">
					<ul class="grid">
						<li>
							<figure>
								<img src="img/05-screenshot.jpg" alt="Screenshot 01">
								<figcaption>
								<div class="caption-content">
									<a href="img/large/05.jpg" class="single_image">
										<i class="fa fa-search"></i><br>
										<p>Multi-Purpose Design</p>
									</a>
								</div>
								</figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="img/06-screenshot.jpg" alt="Screenshot 01">
								<figcaption>
								<div class="caption-content">
									<a href="img/large/06.jpg" class="single_image">
										<i class="fa fa-search"></i><br>
										<p>Exclusive</p>
									</a>
								</div>
								</figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="img/07-screenshot.jpg" alt="Screenshot 01">
								<figcaption>
								<div class="caption-content">
									<a href="img/large/07.jpg" class="single_image">
										<i class="fa fa-search"></i><br>
										<p>Made with Love</p>
									</a>
								</div>
								</figcaption>
							</figure>
						</li>
						<li>
							<figure>
								<img src="img/08-screenshot.jpg" alt="Screenshot 01">
								<figcaption>
								<div class="caption-content">
									<a href="img/large/08.jpg" class="single_image">
										<i class="fa fa-search"></i><br>
										<p>In Toronto, Canada</p>
									</a>
								</div>
								</figcaption>
							</figure>
						</li>
					</ul>
				</div>
			</div>
		</section>
	-->


	<section class="features-intro" id="about">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 nopadding features-intro-img">
					<div class="features-bg">
						<div class="texture-overlay"></div>
							<!-- <div class="features-img wp1">
								<img src="img/html5-logo.png" alt="HTML5 Logo">
							</div> -->
						</div>
					</div>
					<div class="col-md-6 nopadding">
						<div class="features-slider">
							<ul class="slides" id="featuresSlider">
								<li>
									<h1>Why free?</h1>
									<p>
										gotoClassroom's Learning Management System is completely free and no string attached, allowing schools to invest in tools to enrich the student's learning experience and enable teacher's to focus on high quality teaching.
									</p>
								</li>
								<li>
									<h1>Who are we? What are we creating?</h1>
									<p>gotoClassroom is a diverse team of 11 headquarted in Toronto, Canada and has been developing EdTech software for over 8 years.
										We're creating the first Central APP Store to distribute and manage third party educational tools for the Learning Management System.</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>

			<style>
			label.error{
				color: red;
			}
			</style>

			<script type="text/javascript">
			$(function() {
				$('#st-accordion').accordion({
					oneOpenedItem : true
				});
			});
			</script>
