<div class="page-title">
	<div class="container">
		<h2><%= t("forem.forum.edit", :title => forem_emojify(@forum.title)).html_safe %></h2>
	</div>
</div>
<br>
<div class="container">
	<%= link_to t("forem.admin.forum.index"), forem.admin_forums_path, :class => "btn" %>
	<br>
	<div class="forem_form">
		<%= render "form" %>
	</div>
</div>
