<script src="/assets/jquery.random-wall/jquery.random-wall.min.js"></script>
<script src="/assets/jquery.validate.js"></script>
<link href="/assets/bootstrap.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="/assets/jquery.validate.bootstrap.popover.css" />
<script src='/assets/jquery.validate.bootstrap.popover.js'></script>

<style>
  /* styles for the custom element itself - lowest specificity */
  :host { display: block; }
  #return-arrow {
    color: #555;
    cursor: pointer;
    display: block;
    opacity: 0.4;
    padding-left: 15px;
    padding-top: 15px;
    position: fixed;
    z-index: 1050;
  }
  #return-arrow i.fa {
    float: left;
    padding-top: 2px;
  }
  .text-red2 {
    color: #d10011;
  }
  #return-arrow span {
    float: left;
    font-size: 16px;
    padding-left: 15px;
    padding-top: 0;
  }
  .pattern-overlay {
    background: url("/assets/login/pattern.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
  }
  #random_wall {
    background-size: cover;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
  }
  div.overlay {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    opacity: 0.8;
    position: absolute;
    width: 100%;
  }
  .tiles.white {
    background-color: #ffffff;
    color: #8b91a0;
  }
  .tiles.grey {
    background-color: #f2f4f6;
  }
  .form-control{
    border-radius: 0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.075) inset;
    border: 1px solid #e5e9ec;
  }
  #user_email {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
  }
  #user_password {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
  }
  #login-form {
    margin: 0;
  }
  .btn-primary{
    background-color: #0aa699;
    min-width: 120px;
    border-color: transparent;
  }
  .btn-primary:hover{
    background-color: hsl(175, 89%, 25%);
    border-color: transparent;
  }
  .btn-info {
    border-color: transparent;
    background-color: #1f3853;
  }
  .btn-info:hover{
    background-color: #1f3853;
    border-color: transparent;
  }
  form input[type=text], form input[type=password], form input[type=email], form input[type=number], form input[type=url], form input[type=tel], form textarea {
    border-radius: 0;
  }
  form input[type=text]:focus, form input[type=password]:focus, form input[type=email]:focus, form input[type=number]:focus, form input[type=url]:focus, form input[type=tel]:focus, form textarea:focus {
    border: 1px solid #66afe9;
    box-shadow: 0 0 4px #66afe9;
  }
  a, a:link, a:visited {
    color: #428bca;
    text-decoration: none;
  }
  a.btn-cons, a.btn-cons:link, a.btn-cons:visited {
    color: #fff;
    text-decoration: none;
  }
  form input[type=submit]:not(.disabled):hover, form input[type=button]:not(.disabled):hover, form button:not(.disabled):hover {
    background-color:  hsl(175, 89%, 25%);
    background-image: linear, 180deg, #8b9297, #484d51;
    border-color: transparent;
  }
  #sign_in_error {
    font-size: 90%;
  }
</style>

<div class="error-body no-top lazy">
  <div class="container" style="margin-top: 13%;">
    <div class="pattern-overlay"></div>
    <div class="row login-container animated fadeInUp" style="position: relative;z-index: 9;">
      <div class="col-md-7 col-md-offset-2 tiles white no-padding" style="box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);padding:0;">
        <div style="padding: 0 10px 10px 30px;position: relative;">
          <h2 class="normal" style="font-family: times new roman;color: #505458;">Sign in</h2>
          <% if !params.has_key?(:response_type) %>
          <div style="position: absolute;right: 0;top: 3px;">
            <div class="col-sm-3">
              <a href="javascript:;" id="facebook_signup"><img style="width:24px;" src="../assets/bg/fa.png" style="max-width: none;"></a>
            </div>
            <div class="col-sm-3">
              <a href="javascript:;" id="twitter_signup"><img style="width:24px;" src="../assets/bg/tw.png" style="max-width: none;"></a>
            </div>
          </div>
          <%end%>
        </div>
        <div class="tiles grey p-t-20 p-b-20 text-black" style="padding: 20px;">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:id => "login-form", :class => "animated fadeIn"}) do |f| %>
          <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
            <% if flash[:error] %>
              <div id="sign_in_error" class="label alert-danger" style="position: relative;top: -12px;left: 15px;">
                <%= flash[:error] %>
              </div>
            <% end %>
            <div class="col-md-6 col-sm-6 ">
              <%= f.email_field :email, autofocus: true, :class => "form-control required email", :placeholder => "Email" %>
            </div>

            <div class="col-md-6 col-sm-6">
              <%= f.password_field :password, autocomplete: "off", :class => "form-control required", :minlength =>8, :placeholder => "Password" %>
            </div>
          </div>
          <div class="col-md-12 col-sm-12">
            <div id="login_alert" class="alert alert-danger login-alert" style="display: none">Email or password is incorrect.</div>
          </div>
          <div class="row p-t-10 m-l-20 m-r-20 xs-m-l-10 xs-m-r-10" style="margin-top:20px;">
            <div class="control-group col-md-12">
              <button type="button" data-loading-text="Loading..." class="btn btn-primary btn-cons btn320" id="btnLogin">Login</button> <span style="color: #505458;">or</span>&nbsp;&nbsp;<a href="/users/sign_up" class="btn btn-info btn-cons">Create an account</a>
              <a href="/users/password/new" class="pull-right" style="margin-top: 7px;">Forgot your password?</a>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <div id="random_wall">
      <div class="overlay"></div>
    </div>
  </div>
</div>
<script>
  $( document ).ready(function() {
    $('#random_wall').randomwall({
          // set random image pool manually (optional)

          image_list: ['/assets/login/1.jpg',
          '/assets/login/2.jpg',
          '/assets/login/3.jpg',
          '/assets/login/4.jpg',
          '/assets/login/5.jpg',
          '/assets/login/6.jpg',
          '/assets/login/7.jpg',
          '/assets/login/8.jpg',
          '/assets/login/9.jpg',
          '/assets/login/10.jpg',
          '/assets/login/11.jpg'],
        });

    $('#btnLogin').click(function(){
      var login_form = $('#login-form');
      login_form.validate_popover({popoverPosition: 'top'});
      login_form.validate();
      if(login_form.valid()){
        $(this).html('loading...');
        login_form.submit();
      }
    });

    $("#user_password").keypress(function( event ) {
      if ( event.which == 13 ) {
        event.preventDefault();
        $('#btnLogin').click();
      }
    });
  })
</script>