<nav class="navconer navbar-default" style="background:#f8f8f8;">
	<div class="container">
		<div class="navbar-header" style="float: left;">
			<h2 style="margin: 0;padding: 20px 0;">Edit Lms</h2>
		</div>
	</div>
</nav>
<% if !@lm.blank? %>
	<div class="container lms-container">
		<%= render 'form' %>
	</div>
<% end %>

<script>
	$(document).ready(function() {
		var lms_msg = "<%= flash[:lms_error] %>";
		if (lms_msg != '') {
			setTimeout(function () {
				swal("Error", lms_msg, "error");
			}, 200);
		}
	});
</script>