<nav class="navconer navbar-default" style="background:#f8f8f8;">
	<div class="container">
		<div class="navbar-header" style="float: left;">
			<h2 style="margin: 0;padding: 20px 0;">Create Lms</h2>
		</div>
	</div>
</nav>
<div class="container lms-container">
	<%= render 'form' %>
</div>